body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
    padding: 5px;
}

.seriesBanner {
    padding: 10px;
}

.deleteSeriesBtnBanner {
    position: relative;
    right: 45px;
    top: -35px;
}